<div class="row py-3">
    <div class="col-lg-3">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis quo recusandae eligendi mollitia tempore optio voluptates corporis quibusdam nam placeat odit explicabo cumque nesciunt ullam, dicta ratione voluptatum perspiciatis. Autem.</p>        
    </div>
    <div class="col-lg-3">
        <h3>График работы</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, labore placeat! Nemo in sequi velit porro quasi odio, hic voluptatibus at consequatur, quis natus atque. Libero dolore inventore necessitatibus asperiores!</p>
    </div>
    <div class="col-lg-3">
        <h3>Свяжитесь с нами</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex deleniti voluptatem doloribus exercitationem excepturi numquam dolore sequi sunt laudantium eligendi unde, placeat illum nesciunt hic magnam rem rerum autem nostrum.</p>
    </div>
    <div class="col-lg-3">
        <h3>Соц. сети</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eveniet consequatur rem dignissimos neque ipsum animi fugit, iure incidunt, natus hic fuga nam ex ipsa vel rerum veritatis recusandae eos!</p>
    </div>
</div> 